grant {
    permission java.security.AllPermission;
};

grant codeBase "file:${java.home}/lib/ext/*" {
    permission java.security.AllPermission;
};

grant codeBase "file:${user.dir}/plugins/ModLoader999/*" {
    permission java.security.AllPermission;
};

grant codeBase "file:${user.dir}/plugins/ModLoader999/Mods/-" {
    permission java.io.FilePermission "${user.dir}/plugins/ModLoader999/Mods/-", "read";
};

grant codeBase "file:${user.dir}/plugins/ModLoader999/configs/${mod.name}/*" {
    permission java.io.FilePermission "${user.dir}/plugins/ModLoader999/configs/${mod.name}/*", "read,write,delete";
};


